force-app/main/default/flows/Target_Plan_Calculate_Baseline.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Add_up_GHG</name>
        <label>Add up GHG</label>
        <locationX>711</locationX>
        <locationY>297</locationY>
        <assignmentItems>
            <assignToReference>scope1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tpcf.Carbon_Footprint__r.sustain_app__Total_Scope_1_Emissions_tCO2e__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scope2loc</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tpcf.Carbon_Footprint__r.sustain_app__Total_Scope_2_Location_Based_Emissions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scope2mkt</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tpcf.Carbon_Footprint__r.sustain_app__Total_Scope_2_Market_based_Emissions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scope3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tpcf.Carbon_Footprint__r.sustain_app__TotalScope3EmissionstCO2e__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_through_CF</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>write_sums_to_target_plan</name>
        <label>write sums to target plan</label>
        <locationX>944</locationX>
        <locationY>92</locationY>
        <assignmentItems>
            <assignToReference>Get_Target_Plan_Record.Baseline_Scope_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scope1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Target_Plan_Record.Baseline_Scope_2_Location_Based__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scope2loc</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Target_Plan_Record.Baseline_Scope_2_Market_Based__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scope2mkt</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Target_Plan_Record.Baseline_Scope_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>scope3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>write_target_plan</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Target Plan - Calculate Baseline {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Target Plan - Calculate Baseline</label>
    <loops>
        <name>Loop_through_CF</name>
        <label>Loop through CF</label>
        <locationX>711</locationX>
        <locationY>93</locationY>
        <assignNextValueToReference>tpcf</assignNextValueToReference>
        <collectionReference>Collect_Baseline_CF</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_up_GHG</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>write_sums_to_target_plan</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Collect_Baseline_CF</name>
        <label>Collect Baseline CF</label>
        <locationX>559</locationX>
        <locationY>93</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_through_CF</targetReference>
        </connector>
        <filters>
            <field>Target_Plan__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Target_Plan_Baseline_Footprint__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Target_Plan_Record</name>
        <label>Get Target Plan Record</label>
        <locationX>419</locationX>
        <locationY>93</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Collect_Baseline_CF</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Target_Plan__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>write_target_plan</name>
        <label>write target plan</label>
        <locationX>1138</locationX>
        <locationY>92</locationY>
        <inputReference>Get_Target_Plan_Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>54</locationX>
        <locationY>74</locationY>
        <connector>
            <targetReference>Get_Target_Plan_Record</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scope1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>scope2loc</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>scope2mkt</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>scope3</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>5</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>tpcf</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Target_Plan_Baseline_Footprint__c</objectType>
    </variables>
</Flow>
