force-app/main/default/flows/Target_Project_Roll_Up.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>add_carbon_credit_retirements_to_total_offsets</name>
        <label>add carbon credit retirements to total offsets</label>
        <locationX>733</locationX>
        <locationY>586</locationY>
        <assignmentItems>
            <assignToReference>totalOffsets</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_through_credits.Carbon_Credit_Retirement__r.Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_credits</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_up_actual_offsets</name>
        <label>add up actual offsets</label>
        <locationX>520</locationX>
        <locationY>637</locationY>
        <assignmentItems>
            <assignToReference>plannedOffsets</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_through_related_projects.GHG_Project__r.Measured_GHG_Reduction__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_related_projects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_up_estimated_offsets</name>
        <label>add up estimated offsets</label>
        <locationX>518</locationX>
        <locationY>498</locationY>
        <assignmentItems>
            <assignToReference>plannedOffsets</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_through_related_projects.GHG_Project__r.Estimated_GHG_Reduction__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_related_projects</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>add_up_scopes</name>
        <label>add up scopes</label>
        <locationX>1016</locationX>
        <locationY>609</locationY>
        <assignmentItems>
            <assignToReference>scope1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_through_CFs.Carbon_Footprint__r.sustain_app__Total_Scope_1_Emissions_tCO2e__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scope2L</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_through_CFs.Carbon_Footprint__r.sustain_app__Total_Scope_2_Location_Based_Emissions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scope2M</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_through_CFs.Carbon_Footprint__r.sustain_app__Total_Scope_2_Market_based_Emissions__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>scope3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_through_CFs.Carbon_Footprint__r.sustain_app__TotalScope3EmissionstCO2e__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_through_CFs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_status_of_project</name>
        <label>check status of project</label>
        <locationX>150</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>add_up_actual_offsets</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>monitoring or completed</defaultConnectorLabel>
        <rules>
            <name>planning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_through_related_projects.GHG_Project__r.Project_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Planning</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>add_up_estimated_offsets</targetReference>
            </connector>
            <label>planning</label>
        </rules>
    </decisions>
    <formulas>
        <name>totalemissions</name>
        <dataType>Number</dataType>
        <expression>{!scope1}+{!scope2L}+{!scope3}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Target Project Roll Up {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Target Offset Roll Up</label>
    <loops>
        <name>loop_through_CFs</name>
        <label>loop through CFs</label>
        <locationX>1016</locationX>
        <locationY>393</locationY>
        <collectionReference>Get_related_CF_junctions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_up_scopes</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_target_with_sums</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_through_credits</name>
        <label>loop through credits</label>
        <locationX>735</locationX>
        <locationY>384</locationY>
        <collectionReference>get_credit_retirement_junctions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>add_carbon_credit_retirements_to_total_offsets</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_related_CF_junctions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loop_through_related_projects</name>
        <label>loop through related projects</label>
        <locationX>171</locationX>
        <locationY>381</locationY>
        <collectionReference>get_project_junctions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_status_of_project</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>get_credit_retirement_junctions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_credit_retirement_junctions</name>
        <label>get credit retirement junctions</label>
        <locationX>736</locationX>
        <locationY>233</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_through_credits</targetReference>
        </connector>
        <filters>
            <field>Target__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Target_Credit__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_project_junctions</name>
        <label>get project junctions</label>
        <locationX>176</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_through_related_projects</targetReference>
        </connector>
        <filters>
            <field>Target__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Target_Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_related_CF_junctions</name>
        <label>Get related CF junctions</label>
        <locationX>1019</locationX>
        <locationY>245</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_through_CFs</targetReference>
        </connector>
        <filters>
            <field>Target__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Target_Carbon_Footprint__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_target_with_sums</name>
        <label>update target with sums</label>
        <locationX>1330</locationX>
        <locationY>245</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Planned_Offsets__c</field>
            <value>
                <elementReference>plannedOffsets</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Emissions__c</field>
            <value>
                <elementReference>totalemissions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Purchased_Offsets__c</field>
            <value>
                <elementReference>totalOffsets</elementReference>
            </value>
        </inputAssignments>
        <object>Target__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_project_junctions</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>plannedOffsets</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>scope1</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>scope2L</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>scope2M</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>scope3</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>totalOffsets</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
